@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1b1726;
}

img {
    max-width: 100%;
}


.header {
    background-image: url("https://www.rockstargames.com/VI/_next/image?url=%2FVI%2F_next%2Fstatic%2Fmedia%2FJason_and_Lucia_Motel_landscape.565a08c8.jpg&w=1920&q=75");
    background-color: #333;
    padding: 30px 0;
    min-height: 80vh;
    align-items: center;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-container {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.links-container {
    margin-left: auto;
    /* Empuja los enlaces hacia la derecha */
}

.enlace {
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
}

.Logo {
    color: rgb(255, 110, 66);
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
}

.header-contenido {
    padding: 1%;
    margin-left: 50%;
    margin-top: 50px;
    max-width: 40%;
    text-align: justify;
    float: left;
    color: white;
}

.titulo h1 {
    font-size: 55px;
    text-align: start;
}

span {
    color: rgb(255, 110, 66);
    font-weight: bold;
}

.titulo p {
    margin-top: 20px;
    text-align: justify;
    font-size: 17px;
    line-height: 1.8;

}

.header-contenido {
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 5px solid rgb(255, 110, 66);
}

.btn-1 {
    color: white;
}

.buttons a {
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 2px solid rgb(255, 110, 66);
    padding: 1.5% 25px;
    margin-right: 15px;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.plataformas {
    display: block;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;

}


.plataformas {

    justify-content: space-between;
    align-items: center;
}

.titulo {
    text-align: center;
}

.plt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 60px;
}

.plat {
    display: flex;
    padding: 20px;
}

.plat p {
    margin: 10px;
    margin-top: 25px;
    font-weight: bold;

}

.plat img {
    margin: 20px;
}


.Juegos-destacados img {
    width: 300px;

}

.Juegos-destacados {
    color: white;
    margin: 5% 10%;
    margin-top: 5%;
}



.titulo h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}

.juegos {
    display: flex;
    justify-content: center;
    gap: 2px;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-top: 80px;
}

.img-juego {
    width: 160px;
    height: 430px;
    object-fit: cover;
}


.Todos-Juegos {
    margin-left: 10%;
    margin-right: 10%;

}

.Todos-Juegos .titulo {
    color: white;
}


.product-1 {
    display: flex;
    align-items: center;
    height:290px;  /* alto fijo */
    background-color: #2a223a;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
    gap:20px; /* espacio entre imagen y contenido */
    margin-top: 40px;
}

.product-1 img {
    width: 550px;
    height: 550px;
    object-fit: cover; /* recorta sin deformar */
    object-fit: contain;
}

.product-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; /* ocupa el espacio disponible */
    color: #fff;
    margin: 70px;
    text-align: justify;
}

.product-txt h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;

}

.product-txt p{
    margin-bottom: 40px;
    line-height: 1.8;
}

.price {
    display: flex;
    justify-content: flex-start; /* precio y botón a la izquierda */
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}

.price p {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    
}

.btn-2 {
    padding: 5px 20px;
    background-color: #ff5a2c;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.footer{
    color: white;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
    text-align: center;
}